 <span style="color:black; display:flex; flex-direction:row;">
        @foreach(var billingCode in billingCodes)
        {
            <BillingCodeCard Code="billingCode"></BillingCodeCard>
        }
</span>