



    <nav style="display:flex " class="flex-row">
        <div class="px-4">
            <NavLink class="nav-link" href="personal" Match="NavLinkMatch.All">
               <span class="oi oi-person" aria-hidden="false">l</span> Persona
            </NavLink>
        </div>
         <div class="px-4">
            <NavLink class="nav-link" href="team" Match="NavLinkMatch.All">
                <span class="oi oi-people" aria-hidden="false"></span>Team
            </NavLink>
        </div>
        <div class="px-4">
            <NavLink class="nav-link" href="backlog" Match="NavLinkMatch.All">
                <span class="oi oi-list" aria-hidden="false"></span> Backlog
            </NavLink>
        </div>
        <div class="px-4">
            <NavLink class="nav-link" href="planning" Match="NavLinkMatch.All">
                <span class="oi oi-project" aria-hidden="true"></span> Planning
            </NavLink>
        </div>
        <div class="px-3">
            <NavLink class="nav-link" href="settings" Match="NavLinkMatch.All">
                <span class="oi oi-wrench" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="px-4">
            <NavLink class="nav-link" href="filter" Match="NavLinkMatch.All">
                <span class="oi oi-circle-check" aria-hidden="true"> </span>Filter
            </NavLink>
        </div>
    </nav>
    
<style>
    .nav-link {
        color: white;
        min-width:180px;
        min-height:80px;
        vertical-align: 50px
    }
</style>

@code {
    private bool collapseNavMenu = true;
    
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
